In [ ]:
import pandas as pd
import numpy as np

# 데이터프레임 생성 방식
1. 딕셔너리
2. 2차원 리스트
3. 딕리너리 리스트

In [ ]:
#1 딕셔너터로 데이터프레임 생성

data = {
    '종목코드' : ['037730', '036360', '005760'],
    '종목명' : ['3S', '3SOFT', 'ACTS'],
    '현재가' : [1510, 1790, 1185]
}

df = pd.DataFrame(data=data)
print(df)

     종목코드    종목명   현재가
0  037730     3S  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

In [ ]:
#2 2차원 리스트로 데이터프레임 생성

data = [    
      ['037730','3R',1510],
      ['036360','3SOFT',1790],
      ['005760','ACTS',1185]
]

columns = ['종목코드', '종목명', '현재가']

df = pd.DataFrame(data=data,columns=columns)
print(df)

     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

In [ ]:
#3 딕리너리 리스트로 데이터프레임 생성

data = [
        {'종목코드': '037730', '종목명': '3R', '현재가': 1510},
        {'종목코드': '036360', '종목명': '3SOFT', '현재가': 1790},
        {'종목코드': '037730', '종목명': 'ACTS', '현재가': 1185}
]

df = pd.DataFrame(data=data)
print(df)

     종목코드    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  037730   ACTS  1185

# .set_index(column 이름): column 하나를 index로 만드는 새로운 데이터프레임 리턴

In [ ]:
data = [    
      ['037730','3R',1510,7.36],
      ['036360','3SOFT',1790,1.65],
      ['005760','ACTS',1185,1.28]
]

columns = ['종목코드', '종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,columns=columns)
df.set_index('종목코드', inplace=True)
print(df)

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [1]:
'''
데이터프레임 생성시 index를 데이터와 별도로 지정
.index.name: index 이름 따로 지어야
'''

'\n데이터프레임 생성시 index를 데이터와 별도로 지정\n.index.name: index 이름 따로 지어야\n'

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)
df.index.name = '종목코드'
print(df)

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

# df['column 이름']: 컬럼 단위의 인덱싱
# 여러 개 인덱싱할거면 리스트로 주기

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)
print(df['현재가']) #시리즈
# print(df.현재가)

037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

In [ ]:
print(df[['현재가']]) #데이터프레임

         현재가
037730  1510
036360  1790
005760  1185

In [ ]:
list = ['현재가','등락률']
print(df[list])

         현재가   등락률
037730  1510  7.36
036360  1790  1.65
005760  1185  1.28

#.loc['index 이름'], .iloc['행 번호']: 행 단위 인덱싱
# 여러 개 인덱싱할거면 리스트로 주기

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)
print(df.loc['037730']) #시리즈

종목명      3R
현재가    1510
등락률    7.36
Name: 037730, dtype: object

In [ ]:
print(df.loc[['037730','036360']]) #데이터프레임
print(df.iloc[[0,1]]) #데이터프레임

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

# 데이터프레임 특정 값 가져오기

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
print(df.iloc[0].iloc[1])
print(df.iloc[0].loc['현재가'])
print(df.iloc[0]['현재가'])
print(df.loc['037730'].iloc[1])
print(df.loc['037730'].loc['현재가'])
print(df.loc['037730']['현재가'])
print(df.loc['037730','현재가'])
print(df.iloc[0,1])
print(df['현재가'].iloc[0])
print(df['현재가'].loc['037730'])
print(df['현재가']['037730'])

1510
1510
1510
1510
1510
1510
1510
1510
1510
1510
1510

# 데이터프레임에서 행,열 특정범위 가져오기
# .loc[[행 이름들], [열 이름들]]
# .iloc[[행 번호들], [열 번호들]]]

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

In [ ]:
print(df.loc[['037730','036360'],['종목명','현재가']])
print(df.iloc[[0,1],[0,1]])

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
          종목명   현재가
037730     3R  1510
036360  3SOFT  1790

# 데이터프레임 조건 만족 필터링

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)
cond = (df['현재가'] >= 1400) & (df['현재가'] < 1700)
print(df.loc[cond]['현재가']) #두 번에
print(df.loc[cond, '현재가']) #한 번에(더 빠름)

037730    1510
Name: 현재가, dtype: int64
037730    1510
Name: 현재가, dtype: int64

# column 추가하기

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)

df['목표가'] = 1500 #이것도 가능
print(df)

s = pd.Series(data = [1600, 1600, 1600], index = df.index) #데이터프레임과 같은 인덱스를 같는 시리즈 필요
df['목표가'] = s
print(df)

          종목명   현재가   등락률   목표가
037730     3R  1510  7.36  1500
036360  3SOFT  1790  1.65  1500
005760   ACTS  1185  1.28  1500
          종목명   현재가   등락률   목표가
037730     3R  1510  7.36  1600
036360  3SOFT  1790  1.65  1600
005760   ACTS  1185  1.28  1600

# row 추가하기

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)

s = pd.Series(data = ['LG전자', 60000, 3.84], index = df.columns) 
df.loc['066570'] = s  
print(df)

df.loc['066570'] = ['LG전자', 60000, 3.84] #알아서 리스트를 시리즈로 변경하고 데이터프레임과 같은 컬럼을 갖도록 변환
print(df)

s = pd.Series(data = ['LG전자', 60000, 3.84], index = df.columns, name = '066570')
df = df.append(s)
print(df)

          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84
          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84
          종목명    현재가   등락률
037730     3R   1510  7.36
036360  3SOFT   1790  1.65
005760   ACTS   1185  1.28
066570   LG전자  60000  3.84
066570   LG전자  60000  3.84

# column/row 삭제하기
# drop: axis=1은 column 삭제, axis=0은 row 삭제

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)

df.drop(['037730','036360'], axis=0, inplace=True)
print(df)

         종목명   현재가   등락률
005760  ACTS  1185  1.28

# column 레이블 변경
# df.columns, df.index.name, df.rename(column명 일부 변경)

In [ ]:
data = [    
      ['3R',1510,7.36],
      ['3SOFT',1790,1.65],
      ['ACTS',1185,1.28]
]

index = ['037730','036360','005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data=data,index=index,columns=columns)

df.columns = ['name', 'close', 'fluctuation']
df.index.name = 'code'
df.rename(columns={'close':'close_price'},inplace=True)
print(df)

         name  close_price  fluctuation
code
037730     3R         1510         7.36
036360  3SOFT         1790         1.65
005760   ACTS         1185         1.28

# 데이터 타입 변경
# .astype(): 변경하고자 하는 column 이름과 데이터 타입을 딕셔너리로 받음

In [ ]:
def remove_comma(x):
  return x.replace(",","")

data = [    
      ['1,000','1,100','1,510'],
      ['1,410','1,420','1,790'],
      ['850','900','1,185']
]

columns = ['03/02', '03/03', '03/04']

df = pd.DataFrame(data=data,columns=columns)
df = df.applymap(remove_comma)
df = df.astype({'03/02':np.int64, '03/03':np.int64, '03/04':np.int64})
print(df.dtypes)

03/02    int64
03/03    int64
03/04    int64
dtype: object

# column의 문자열 다루기
# str

In [ ]:
def remove_comma(x):
  return x.replace(",","")

data = [    
      ['1,000','1,100','1,510'],
      ['1,410','1,420','1,790'],
      ['850','900','1,185']
]

columns = ['03/02', '03/03', '03/04']

df = pd.DataFrame(data=data,columns=columns)

df['03/02'] = df['03/02'].str.replace(',','').astype(np.int64)
df['03/03'] = df['03/03'].str[:-1]
print(df)

   03/02 03/03  03/04
0   1000  1,10  1,510
1   1410  1,42  1,790
2    850    90  1,185

# 조건에 맞춰 필터링
# Query: 큰 따옴표로 전체 쿼리를 정의하고 작은 따옴표로 문자열

In [ ]:
data = [
        {'cd':'A060310', 'nm':'3S', 'open':2920, 'close':2800},
        {'cd':'A095570', 'nm':'AJ네트웍스', 'open':1920, 'close':1900},
        {'cd':'A006840', 'nm':'AK홀딩스', 'open':2020, 'close':2010},
        {'cd':'A054620', 'nm':'APS홀딩스', 'open':3120, 'close':3200}
]

df = pd.DataFrame(data=data)
df = df.set_index('cd')

print(df.query("nm=='3S'"))
print(df.query("open>close"))
print(df.query("nm in ['3S','AK홀딩스']"))

name = 'AJ네트웍스'
print(df.query("nm==@name"))

         nm  open  close
cd
A060310  3S  2920   2800
             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
            nm  open  close
cd
A060310     3S  2920   2800
A006840  AK홀딩스  2020   2010
             nm  open  close
cd
A095570  AJ네트웍스  1920   1900

# filter: items로 선택할 컬럼의 이름을 지정 가능(axis=0이면 인덱스에 대해 검색), regex로 컬럼 문자열의 일부를 필터링 가능(axis=0이면 인덱스에 대해 검색)

In [ ]:
data = [
        {'cd':'A060310', 'nm':'3S', 'open':2920, 'close':2800},
        {'cd':'A095570', 'nm':'AJ네트웍스', 'open':1920, 'close':1900},
        {'cd':'A006840', 'nm':'AK홀딩스', 'open':2020, 'close':2010},
        {'cd':'A054620', 'nm':'APS홀딩스', 'open':3120, 'close':3200}
]

df = pd.DataFrame(data=data)
df = df.set_index('cd')

df.filter(items=['nm'])
df.filter(items=['A060310'], axis=0)
df.filter(regex='^c')
df.filter(regex='0$', axis=0)

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

# 정렬 및 순위
# .sort_values('column 이름') / .sort_values(by=column 이름): 오름차순 정렬(내림차순은  ascending=False)
# .rank():순위가 저장된 시리즈 객체를 리턴

In [ ]:
data = [
        ['037730', '3R', 1510],
        ['036360', '3SOFT', 1790],
        ['005670', 'ACTS', 1185]
]

columns = ['종목코드', '종목명', '현재가']
df = pd.DataFrame(data=data,columns=columns)
df.set_index('종목코드',inplace=True)
df2 = df.sort_values('현재가',ascending=False)
df2['순위'] = df2['현재가'].rank()
df2.sort_values(by='순위', inplace=True)
print(df2)

          종목명   현재가   순위
종목코드
005670   ACTS  1185  1.0
037730     3R  1510  2.0
036360  3SOFT  1790  3.0

# 인덱스 연산: pandas는 같은 인덱스를 갖는 데이터 사이의 연산이 적용되기 때문에(브로드캐스팅) 인덱스가 같은지 차이가 있는지 비교해야 된다.
# .union(index): index와 합집합
# .intersection(index): index와 교집합
# .difference(index): index와  차집합

In [ ]:
idx1 = pd.Index([1,2,3])
ids2 = pd.Index([2,3,4])
idx1.union(ids2)

Int64Index([1, 2, 3, 4], dtype='int64')

# .groupby('column 이름'): 그냥은 출력 안 됨
# .get_group('group 이름'): 특정 group만 가져오기
# .agg({'column 이름':[적용하고자 하는 함수들],..}): column마다 다른 함수 적용

In [ ]:
data = [
        ['2차전지(생산)', 'SK이노베이션', 10.19, 1.29],
        ['해운', '팬오션', 21.33, 0.95],
        ['시스템반도체', '티엘아이', 35.97, 1.12],
        ['해운', 'HMM', 21.52, 3.20],
        ['시스템반도체',  '아이에이', 37.32, 3.55],
        ['2차전지(생산)', 'LG화학', 83.06, 3.75]
]

columns = ['테마', '종목명', 'PER', 'PBR']
df = pd.DataFrame(data=data,columns=columns)

gb = df.groupby('테마')[['테마', 'PER', 'PBR']].agg({'PER':[max,min],'PBR':[np.std,np.var]})
gb

            PER              PBR
            max    min       std      var
테마
2차전지(생산)  83.06  10.19  1.739483  3.02580
시스템반도체    37.32  35.97  1.718269  2.95245
해운        21.52  21.33  1.590990  2.53125

In [ ]:
df.groupby('테마').get_group('2차전지(생산)')

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

# (column 상관없이 무지성) 좌/우로 붙이기
# .concat([df1,df2],axis=,join=): 기본 위/아래 붙이기(axis=1 좌/우로 붙이기)(join='inner'(교집합)/'outer'(합집합))

In [ ]:
# index 같을 때
data = {
    '종가': [113000, 111500],
    '거래량': [555850, 282163]    
}
index = ['2019-06-21', '2019-06-20']
df1 = pd.DataFrame(data=data,index=index)

data = {
        '시가':[112500, 110000],
        '고가':[115000,112000],
        '저가':[111500,109000]
}
index = ['2019-06-21', '2019-06-20']
df2 = pd.DataFrame(data=data,index=index)

df = pd.concat([df1,df2],axis=1)
df

                종가     거래량      시가      고가      저가
2019-06-21  113000  555850  112500  115000  111500
2019-06-20  111500  282163  110000  112000  109000

In [ ]:
df = df[['시가', '고가', '저가', '종가', '거래량']] # column 정렬순서 바꾸기
df

                시가      고가      저가      종가     거래량
2019-06-21  112500  115000  111500  113000  555850
2019-06-20  110000  112000  109000  111500  282163

In [ ]:
# index 다를 때
data = {
    '종가': [113000, 111500],
    '거래량': [555850, 282163]    
}
index = ['2019-06-21', '2019-06-20']
df1 = pd.DataFrame(data=data,index=index)

data = {
        '시가':[112500, 110000],
        '고가':[115000,112000],
        '저가':[111500,109000]
}
index = ['2019-06-20', '2019-06-19']
df2 = pd.DataFrame(data=data,index=index)

df = pd.concat([df1,df2],axis=1)
df

                  종가       거래량        시가        고가        저가
2019-06-21  113000.0  555850.0       NaN       NaN       NaN
2019-06-20  111500.0  282163.0  112500.0  115000.0  111500.0
2019-06-19       NaN       NaN  110000.0  112000.0  109000.0

In [ ]:
df = pd.concat([df1,df2],axis=1,join='inner')
df

                종가     거래량      시가      고가      저가
2019-06-20  111500  282163  112500  115000  111500

# (index 상관없이 무지성) 위/아래로 붙이기
# .append(df): 새로운 데이터프레임 반환
# .concat

In [ ]:
data = {
    '종가': [113000, 111500],
    '거래량': [555850, 282163]    
}
index = ['2019-06-21', '2019-06-20']
df1 = pd.DataFrame(data=data,index=index)

data = {
        '종가':[112500, 110000],
        '거래량':[115000,112000],
}
index = ['2019-06-21', '2019-06-20']
df2 = pd.DataFrame(data=data,index=index)

df = df1.append(df2)
df

                종가     거래량
2019-06-21  113000  555850
2019-06-20  111500  282163
2019-06-21  112500  115000
2019-06-20  110000  112000

# 무지성 이어붙이기가 아닌 특정 column 값을 기준으로 병합
# .merge(left=df1, right=df2, how='inner'/'outer'/'left'/'right'(기준이 되는 데이터프레임), on=합칠 기준 column명, left_on=, right_on=(column명이 다를 경우 각자 column명 적기))

In [ ]:
data = [
        ['전기전자',  '005930', '삼성전자', 74400],
        ['화학', ' 051910', 'LG화학', 896000],
        ['서비스업', '035720', '카카오', 121500]
]
columns = ['업종', '종목코드', '종목명', '현재가']
df1=pd.DataFrame(data=data,columns=columns)

data = [
        ['은행', 2.92],
        ['보험',  0.37],
        ['화학', 0.06],
        ['전기전자', -2.43]
]
columns = ['업종', '등락률']
df2=pd.DataFrame(data=data,columns=columns)

df = pd.merge(left=df1,right=df2,how='right',on='업종')
df

     업종     종목코드   종목명       현재가   등락률
0    은행      NaN   NaN       NaN  2.92
1    보험      NaN   NaN       NaN  0.37
2    화학   051910  LG화학  896000.0  0.06
3  전기전자   005930  삼성전자   74400.0 -2.43

# 무작정 이어붙이기가 아닌 특정 index를 기준으로 병합
# .join(other=df, how='left'/'right'/'inner'/'outer'(기본은 'left'), on=column 명(만약 index로 설정이 안 되어있다면)): 데이터프레임 반환

In [ ]:
data = [
        ['전기전자',  '005930', '삼성전자', 74400],
        ['화학', ' 051910', 'LG화학', 896000],
        ['서비스업', '035720', '카카오', 121500]
]
columns = ['업종', '종목코드', '종목명', '현재가']
df1=pd.DataFrame(data=data,columns=columns)
df1.set_index('업종',inplace=True)

data = [
        ['은행', 2.92],
        ['보험',  0.37],
        ['화학', 0.06],
        ['전기전자', -2.43]
]
columns = ['항목', '등락률']
df2=pd.DataFrame(data=data,columns=columns)
df2.set_index('항목',inplace=True)

df1 = df1.join(other=df2)
df1

         종목코드   종목명     현재가   등락률
업종
전기전자   005930  삼성전자   74400 -2.43
화학     051910  LG화학  896000  0.06
서비스업   035720   카카오  121500   NaN

In [ ]:
data = [
        ['2017', '삼성', 500],
        ['2017', 'LG', 300],
        ['2017', 'SK하이닉스', 200],
        ['2018', '삼성', 600],
        ['2018', 'LG', 400],
        ['2018', 'SK', 300]
]
columns = ['연도', '회사', '시가총액']
df = pd.DataFrame(data=data,columns=columns)
df

     연도      회사  시가총액
0  2017      삼성   500
1  2017      LG   300
2  2017  SK하이닉스   200
3  2018      삼성   600
4  2018      LG   400
5  2018      SK   300

In [ ]:
df_mean = df.groupby('연도')['시가총액'].mean().to_frame()
df_mean.columns = ['시가총액평균']
df_mean

          시가총액평균
연도
2017  333.333333
2018  433.333333

In [ ]:
df = df.join(other=df_mean, on='연도')
df

     연도      회사  시가총액      시가총액평균
0  2017      삼성   500  333.333333
1  2017      LG   300  333.333333
2  2017  SK하이닉스   200  333.333333
3  2018      삼성   600  433.333333
4  2018      LG   400  433.333333
5  2018      SK   300  433.333333

In [ ]:
df['규모'] = np.where(df['시가총액']>=df['시가총액평균'], '대형주', '중/소형주')
df

     연도      회사  시가총액      시가총액평균     규모
0  2017      삼성   500  333.333333    대형주
1  2017      LG   300  333.333333  중/소형주
2  2017  SK하이닉스   200  333.333333  중/소형주
3  2018      삼성   600  433.333333    대형주
4  2018      LG   400  433.333333  중/소형주
5  2018      SK   300  433.333333  중/소형주

# 멀티인덱스

In [ ]:
data = [
        ['영업이익', '컨센서스', 1000, 1200],
        ['영업이익', '잠정치', 900, 1400],
        ['당기순이익', '컨센서스', 800, 900],
        ['당기순이익', '잠정치', 700, 800]
]

df = pd.DataFrame(data=data)
df

       0     1     2     3
0   영업이익  컨센서스  1000  1200
1   영업이익   잠정치   900  1400
2  당기순이익  컨센서스   800   900
3  당기순이익   잠정치   700   800

In [ ]:
df = df.set_index([0,1]) #column 이름 부여하지 않아 자동으로 맵핑된 숫자 컬럼 이름으로 인덱스 지정
df

               2     3
0     1
영업이익  컨센서스  1000  1200
      잠정치    900  1400
당기순이익 컨센서스   800   900
      잠정치    700   800

In [ ]:
df.index.names = ['재무연월', '']
df.columns = ['2020/06', '2020/09']
df

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
      잠정치       900     1400
당기순이익 컨센서스      800      900
      잠정치       700      800

In [ ]:
df.loc[('영업이익', '컨센서스')].to_frame() #하나의 행 선택할 때는 level 0부터 level N까지 튜플로 정의

         영업이익
         컨센서스
2020/06  1000
2020/09  1200

In [ ]:
df.iloc[0].to_frame() #iloc를 사용하면 하나의 row 선택

         영업이익
         컨센서스
2020/06  1000
2020/09  1200

In [ ]:
df.iloc[0,0] #행,열 index로 하나의 값 가져오기

1000

In [ ]:
df.loc[('영업이익', '컨센서스'),'2020/06']

1000

## 슬라이싱

In [ ]:
a = [1,2,3,4,5]
print(a[0:5:2])
print(a[slice(0,5,2)])
print(a[ : ])
print(a[ : : ])
print(a[slice(None)])
print(a[slice(None,None)])

[1, 3, 5]
[1, 3, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
df.loc[(slice(None),'컨센서스'),:] # df.loc[(:,'컨센서스'),:] 이거 안됨

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
당기순이익 컨센서스      800      900

In [ ]:
idx = pd.IndexSlice
df.loc[idx[:,'컨센서스'],:] # :은 모든 값 지정

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
당기순이익 컨센서스      800      900

# 멀티칼럼
# pd.MultiIndex.from_product([level_0,level_1]): 입력된 리스트로 데이터의 조합 생성

In [ ]:
data = [
        [1000,900,800,700],
        [1200,1400,900,800]
]

columns = [
           ['영업이익', '영업이익', '당기순이익', '당기순이익'],
           ['컨센서스', '잠정치', '컨센서스', '잠정치']
]

df = pd.DataFrame(data=data,columns=columns,index=['2020/06','2020/09'])
df

         영업이익       당기순이익
         컨센서스   잠정치  컨센서스  잠정치
2020/06  1000   900   800  700
2020/09  1200  1400   900  800

In [ ]:
level_0 = ['영업이익', '당기순이익']
level_1 = ['컨센서스', '잠정치']

columns = pd.MultiIndex.from_product([level_0, level_1])
df = pd.DataFrame(data=data, index=['2020/06','2020/09'], columns=columns)
df

         영업이익       당기순이익
         컨센서스   잠정치  컨센서스  잠정치
2020/06  1000   900   800  700
2020/09  1200  1400   900  800

In [ ]:
df['영업이익']

         컨센서스   잠정치
2020/06  1000   900
2020/09  1200  1400

In [ ]:
df[('영업이익', '컨센서스')].to_frame()

         영업이익
         컨센서스
2020/06  1000
2020/09  1200

In [ ]:
df.loc['2020/06','영업이익'].to_frame().T

         컨센서스  잠정치
2020/06  1000  900

In [ ]:
df.loc['2020/06',('영업이익','컨센서스')]

1000

In [ ]:
df.loc['2020/06',(slice(None),'컨센서스')].to_frame().transpose()

         영업이익 당기순이익
         컨센서스  컨센서스
2020/06  1000   800

# stack/unstack
# .stack(level=(기본은 높은 레벨)): column의 항목을 index로 옮기기
# .unstack: index의 항목을 column으로 옮기기

In [ ]:
data = [
        [1000,900,800,700],
        [1200,1400,900,800]
]

level_0 = ['영업이익', '당기순이익']
level_1 = ['컨센서스', '잠정치']
columns = pd.MultiIndex.from_product([level_0,level_1])

df = pd.DataFrame(data=data,columns=columns)
df

   영업이익       당기순이익
   컨센서스   잠정치  컨센서스  잠정치
0  1000   900   800  700
1  1200  1400   900  800

In [ ]:
df.stack(level=0)

          잠정치  컨센서스
0 당기순이익   700   800
  영업이익    900  1000
1 당기순이익   800   900
  영업이익   1400  1200

In [ ]:
df.stack().stack().to_frame()

                 0
0 잠정치  당기순이익   700
       영업이익    900
  컨센서스 당기순이익   800
       영업이익   1000
1 잠정치  당기순이익   800
       영업이익   1400
  컨센서스 당기순이익   900
       영업이익   1200

In [ ]:
df.stack().unstack()

  당기순이익       영업이익
    잠정치 컨센서스   잠정치  컨센서스
0   700  800   900  1000
1   800  900  1400  1200

In [ ]:
data = [
        [1000,1100,900,1200,1300],
        [800,2000,1700,1500,1800]
]
index = ['자본금', '부채']
columns = ['2020/03', '2020/06', '2020/09', '2021/03', '2021/06']
df = pd.DataFrame(data=data,index=index,columns=columns)
df

     2020/03  2020/06  2020/09  2021/03  2021/06
자본금     1000     1100      900     1200     1300
부채       800     2000     1700     1500     1800

In [ ]:
df_stacked = df.stack().reset_index()
df_stacked

  level_0  level_1     0
0     자본금  2020/03  1000
1     자본금  2020/06  1100
2     자본금  2020/09   900
3     자본금  2021/03  1200
4     자본금  2021/06  1300
5      부채  2020/03   800
6      부채  2020/06  2000
7      부채  2020/09  1700
8      부채  2021/03  1500
9      부채  2021/06  1800

In [ ]:
temp = df_stacked['level_1'].str.split('/')
temp

0    [2020, 03]
1    [2020, 06]
2    [2020, 09]
3    [2021, 03]
4    [2021, 06]
5    [2020, 03]
6    [2020, 06]
7    [2020, 09]
8    [2021, 03]
9    [2021, 06]
Name: level_1, dtype: object

In [ ]:
df_split = pd.DataFrame(list(temp))
df_split

      0   1
0  2020  03
1  2020  06
2  2020  09
3  2021  03
4  2021  06
5  2020  03
6  2020  06
7  2020  09
8  2021  03
9  2021  06

In [ ]:
df_merged = pd.concat([df_stacked, df_split], axis=1)
df_merged.columns = ['계정', '년월', '금액', '연도', '월']
df_merged

    계정       년월    금액    연도   월
0  자본금  2020/03  1000  2020  03
1  자본금  2020/06  1100  2020  06
2  자본금  2020/09   900  2020  09
3  자본금  2021/03  1200  2021  03
4  자본금  2021/06  1300  2021  06
5   부채  2020/03   800  2020  03
6   부채  2020/06  2000  2020  06
7   부채  2020/09  1700  2020  09
8   부채  2021/03  1500  2021  03
9   부채  2021/06  1800  2021  06

In [ ]:
df_group = df_merged.groupby(['계정','연도']).sum()
df_group

            금액
계정  연도
부채  2020  4500
    2021  3300
자본금 2020  3000
    2021  2500

In [ ]:
df_unstack = df_group.unstack()
df_unstack

       금액
연도   2020  2021
계정
부채   4500  3300
자본금  3000  2500

In [ ]:
result = df_unstack['금액']
result.columns.name = ''
result.index.name = ''
result

     2020  2021

부채   4500  3300
자본금  3000  2500

# pd.pivot(data= ,index= ,columns= ,values= ): 인덱스, 컬럼, 데이터 재구성해서 새로운 데이터프레임 생성

In [ ]:
data = [
        ['2021-08-12', '삼성전자', 77000],
        ['2021-08-13', '삼성전자', 74400],
        ['2021-08-12', 'LG전자', 153000],
        ['2021-08-13', 'LG전자', 150500],
        ['2021-08-12', 'SK하이닉스', 100500],
        ['2021-08-13', 'SK하이닉스', 101500]
]
columns = ['날짜', '종목명', '종가']
df = pd.DataFrame(data=data, columns=columns)
df

           날짜     종목명      종가
0  2021-08-12    삼성전자   77000
1  2021-08-13    삼성전자   74400
2  2021-08-12    LG전자  153000
3  2021-08-13    LG전자  150500
4  2021-08-12  SK하이닉스  100500
5  2021-08-13  SK하이닉스  101500

In [ ]:
pd.pivot(data=df, index='날짜', columns='종목명', values='종가')

종목명           LG전자  SK하이닉스   삼성전자
날짜
2021-08-12  153000  100500  77000
2021-08-13  150500  101500  74400

In [ ]:
df.groupby(['날짜','종목명']).mean()

                         종가
날짜         종목명
2021-08-12 LG전자    153000.0
           SK하이닉스  100500.0
           삼성전자     77000.0
2021-08-13 LG전자    150500.0
           SK하이닉스  101500.0
           삼성전자     74400.0

In [ ]:
df.groupby(['날짜','종목명']).mean().unstack()

                  종가
종목명             LG전자    SK하이닉스     삼성전자
날짜
2021-08-12  153000.0  100500.0  77000.0
2021-08-13  150500.0  101500.0  74400.0

In [ ]:
pd.pivot(data=df,index='종목명',columns='날짜',values='종가')

날짜      2021-08-12  2021-08-13
종목명
LG전자        153000      150500
SK하이닉스      100500      101500
삼성전자         77000       74400

# .melt: 컬럼의 수가 많은 데이터프레임을 세로로 긴 데이터포맷으로 재구조화

In [ ]:
data = [
        ['005930', '삼성전자', 74400, 76000, 74100, 74400],
        ['035720', '카카오', 121500, 147500, 144500, 146000],
        ['000660', 'SK하이닉스', 99600, 101500, 98900, 101500]
]
columns = ['종목코드', '종목명', '시가', '고가', '저가', '종가']
df=pd.DataFrame(data=data,columns=columns)
df

     종목코드     종목명      시가      고가      저가      종가
0  005930    삼성전자   74400   76000   74100   74400
1  035720     카카오  121500  147500  144500  146000
2  000660  SK하이닉스   99600  101500   98900  101500

In [ ]:
df.melt(id_vars=['종목코드','종목명']) #melt 하지 않을 컬럼들의 이름을 리스트로

      종목코드     종목명 variable   value
0   005930    삼성전자       시가   74400
1   035720     카카오       시가  121500
2   000660  SK하이닉스       시가   99600
3   005930    삼성전자       고가   76000
4   035720     카카오       고가  147500
5   000660  SK하이닉스       고가  101500
6   005930    삼성전자       저가   74100
7   035720     카카오       저가  144500
8   000660  SK하이닉스       저가   98900
9   005930    삼성전자       종가   74400
10  035720     카카오       종가  146000
11  000660  SK하이닉스       종가  101500

In [ ]:
df.melt(value_vars=['시가','종가']) #melt할 컬럼들의 이름을 리스트로

  variable   value
0       시가   74400
1       시가  121500
2       시가   99600
3       종가   74400
4       종가  146000
5       종가  101500